.btn {
  display: block;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
  &--primary {
    padding: 13px 63px;
    background-color: $cMain;
    color: $cWhite;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  &--action {
    background-color: $cBlack;
    color: $cWhite;
    border-radius: 8px;
    padding: 11px 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
    .plus {
      display: inline-block;
      width: 12px;
      height: 1px;
      background-color: $cWhite;
      border-radius: 5px;
      position: relative;
      margin-right: 6px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 12px;
        width: 1px;
        background-color: $cWhite;
        border-radius: 5px;
        top: -6px;
        left: 5px;
      }
    }
  }

  &--mail {
    background-color: $cBlack;
    color: $cWhite;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 38px;
  }

  &--edit {
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    img {
      margin: -2px 4px 0 0;
    }
  }

  &--rounded {
    // width: 112px;
    padding: 0 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid $cAccent3;
    font-weight: bold;
    color: $cAccent3;
    &.delete {
      color: $cAttention;
      border: 1px solid $cAttention;
    }
    &.invalid {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &--delete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(242, 111, 111, 0.2);
    img {
      width: 24px;
    }
  }
  &--plus {
    position: relative;
    width: 32px;
    height: 32px;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: $cBlack;
      border-radius: 10px;
      width: 1px;
      height: 12px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
}

#isShow-ListBtn {
  background: #fafafa;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.3rem;
  width: 100%;
  max-width: 196px;
  padding: 2px 0;
  color: $cGray1;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 11px;
    background: url($img + "icon-arrow.svg") no-repeat center center / contain;
  }
}

.page-prevBtn,
.page-nextBtn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-nextBtn {
  background-color: $cWhite;
}
.page-nextBtn {
  background-color: $cBlack;
}

.btn.pageBack-link {
  position: relative;
  span {
    display: inline-block;
    margin-left: 48px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
  }
  &::before {
    width: 10px;
    height: 10px;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-138deg);
    top: -3px;
    bottom: 0;
    left: 0;
  }
  &::after {
    width: 30px;
    height: 2px;
    background-color: $cBlack;
    top: -3px;
    bottom: 0;
    left: 0;
  }
}

.closeIcon-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $cBlack;
    border-radius: 10px;
    width: 16px;
    height: 3px;
    position: absolute;
    top: 0;
    right: 0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.addBtn {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  background-color: $cAccent3;
  box-shadow: 0 4px 20px #dee8f1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: $cWhite;
  }
  &::before {
    width: 16px;
    height: 2px;
  }
  &::after {
    transform: rotate(90deg);
    width: 16px;
    height: 2px;
  }
}

.insertBox-addBtn {
  display: flex;
  align-items: center;
  &__txt {
    font-weight: bold;
    margin-left: 12px;
  }
}
