.company-card {
    a {
        display: block;
        max-width: 254px;
        padding: 10px;
        background-color: $cWhite;
        border-radius: 8px;
        // transition: .6s cubic-bezier(.87,0,.13,1);
        transition: .3s ease-in-out;
        &:hover {
            box-shadow: 6px 8px 22px rgba(0,0,0,.06);
            opacity: .8;
        }
    }
    &__img {
        width: 238px;
        height: 174px;
        img {
            object-fit: cover;
            display: block;
            border-radius: 5px;
            height: 100%;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 1.6rem;
        letter-spacing: 0.05em;
        margin: 8px 0;
    }
    &__desc {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $cGray1;
        margin-bottom: 8px;
    }
    &__address {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 1px solid $cMain;
            margin-right: 8px;
        }
    }
    &__time {
        font-size: 1.1rem;
        opacity: .5;
        color: $cGray1;
        text-align: right;
    }
}


.activity-card {
    & > a {
        display: block;
        width: 227px;
        border-radius: 10px;
        &:hover {
            transition: 0.6s ease;
            opacity: 0.7;
            box-shadow: 10px 10px 30px rgba(0,0,0,.06);
        }
    }
    &.normal > a {
        padding: 24px;
    }
    &.small > a {
        padding: 16px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-bottom: 4px;
    }
    &__name {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.38;
        margin-bottom: 8px;
    }
    &__txt {
        font-size: 1.3rem;
        color: $cGray1;
        line-height: 1.46;
    }
    &__time {
        font-size: 1.2rem;
        opacity: .5;
        color: $cGray1;
    }
}

.studentCard-item {
    margin: 0 auto;
    & > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 14px 0 14px 24px;
        transition: 0.3s ease;
        border-radius: 10px;
        
        &:hover {
            box-shadow: 0 0 16px rgba(0,0,0,.06), 0 0 30px rgba(0,0,0,.04);
        }
        & > div, & > p {
            flex: 0 0 25%;
        }
        .myAvatar {
            max-width: initial;
            justify-content: center;
            text-align: left;
        }
        .graduationYear-tag {
            margin: 0 auto;
        }
    }

}



.comapay-detailCard {
    background-color: $cWhite;
    border-radius: 24px;
    display: block;
    text-align: center;
    width: 234px;
    padding: 24px 24px 32px;
    * {
        transition: 0.3s ease;
        
    }
    & > a {
        display: block;
        &:hover {
            opacity: .8;
        }
    }
    &__img {
        width: 184px;
        margin: 0 auto 8px;
    }
    &__name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 8px;
    }
    &__link > a{
        font-size: 1.2rem;
        color: $cLink;
        &:hover {
            opacity: .8;
        }
    }
}

.user-card {
    & > a {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 28px 0;
        border-radius: 20px;
        transition: 0.3s ease;
        &::before {
            content: "";
            opacity: 0;
            transition: 0.3s ease;
        }
        &:hover {
            box-shadow: 0 0 30px rgba(0,0,0,.06);
            &::before {
                opacity: 1;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $cLink;
                position: absolute;
                top: 18px;
                right: 22px;
            }
        }
    }
    &__name {
        font-weight: bold;
    }
    img {
        margin-right: 16px;
    }
    &__wrap {
        display: flex;
        color: $cGray1;
        p {
            margin-right: 8px;
        }
    }

    
}