.modal {
  &--normal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 578px;
    background-color: $cWhite;
    border-radius: 10px;
    padding-bottom: 12px;
    line-height: 1.75;
  }
  &--accountDelete {
    padding: 40px 40px 18px;
    max-width: 480px;
    .accountDelete-user {
      display: flex;
      align-items: center;
      line-height: 1;
      margin-bottom: 24px;
      &__avatar {
        width: 48px;
        height: 48px;
        margin-right: 12px;
      }
      &__name {
        font-weight: bold;
        margin-bottom: 4px;
      }
      &__stundet-number {
        color: $cGray1;
        opacity: 0.5;
      }
    }
    .heading4 {
      margin-bottom: 10px;
    }
    .txt {
      color: $cGray1;
      max-width: 360px;
      margin-bottom: 40px;
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid $cBorder1;
      padding-top: 16px;
      & > p {
        color: $cGray1;
        margin-right: 24px;
        cursor: pointer;
      }
    }
  }
  &.hide {
    display: none;
  }
  &.scroll > .scrollContent {
    height: 250px;
    overflow-y: scroll;
  }
  .closeIcon-btn {
    position: fixed;
    top: 26px;
    right: 26px;
  }
  &__header {
    &--normal {
      padding: 20px 0 18px;
      text-align: center;
      border-bottom: 1px solid $cBorder1;
      margin-bottom: 16px;
    }
    &--side {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px 6px;
      border-bottom: 1px solid $cBorder1;
      & > div {
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
      }
    }
  }
  &__input-area {
    display: flex;
    margin: 0 32px 0 24px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  &__textarea {
    width: calc(100% - 60px);
    margin-left: auto;
    height: 195px;
    padding: 0 10px;
    overflow-x: none;
    outline: none;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $cBorder1;
    padding: 8px 0 0 8px;
    p {
      cursor: pointer;
    }
    div {
      display: flex;
      color: $cGray1;
      align-items: center;
      button {
        margin-left: 24px;
      }
    }
  }
  .saveText-item {
    padding: 16px 40px;
    border-bottom: 1px solid $cBorder1;
    margin: 0 auto;
    &:first-of-type {
      margin-top: 16px;
    }
    &__wrap {
      display: flex;
      align-items: center;
    }
  }
  &.activity-delete {
    padding: 42px 18px 16px;
    text-align: center;
    width: 418px;
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      border-top: 1px solid $cBorder1;
      .cansel {
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .txt {
      margin-top: 24px;
      padding-bottom: 24px;
    }
    .btn--rounded {
      margin-left: 32px;
      margin-right: -24px;
    }
  }
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.hide {
    transition: 0.3s ease;
    opacity: 0;
    z-index: -100;
  }
}

.saveText-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  &__time {
    margin-right: 24px;
    width: 80px;
  }
  &__txt {
    margin-right: 24px;
    width: 350px;
  }
  &__deleteBtn {
    margin-right: 8px;
  }
  button > img {
    width: 24px;
    height: 24px;
  }
}

.company-level {
  &__container {
    width: 440px;
    margin: 0 auto 16px;
    border-radius: 8px;
    padding: 26px 32px 16px;
    font-size: 1.3rem;
    background-color: #f0f0f0;
  }
  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    th {
      color: #98a1a9;
      font-weight: bold;
      &:last-child {
        text-align: left;
      }
    }
    tr:not(:first-child) {
      background-color: $cWhite;
      th:first-child,
      td:first-child {
        border-radius: 6px 0 0 6px;
      }
      th:last-child,
      td:last-child {
        border-radius: 0 6px 6px 0;
      }
      td {
        padding: 8px 0;
      }
    }
  }
  &__txt {
    width: 80%;
  }
  &__count {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
  }
  &__note {
    font-size: 1.2rem;
    color: $cYetLink;
    line-height: 1.4;
  }
  .modal__bottom {
    justify-content: flex-end;
  }
}

.selectPost-caegoryList {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  &__item {
    margin-right: 32px;

    &:first-child {
      &:hover > a::before {
        background: url("../../images/icon-step_white.svg");
      }
      a::before {
        background: url("../../images/icon-step_black.svg") no-repeat;
      }
    }
    &:nth-child(2) {
      &:hover > a::before {
        background: url("../../images/icon-paper_white.svg");
      }
      a::before {
        background: url("../../images/icon-paper_black.svg") no-repeat;
      }
    }
    &:last-child {
      margin-right: 0;
      &:hover > a::before {
        background: url("../../images/icon-bag_white.svg");
      }
      a::before {
        background: url("../../images/icon-bag_black.svg") no-repeat;
      }
    }
    a {
      display: block;
      width: 134px;
      height: 134px;
      border-radius: 10px;
      background-color: $bgColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease;
      &:hover {
        background-color: $cAccent3;
        color: $cWhite;
      }
      &::before {
        content: "";
        display: block;
        width: 48px;
        height: 48px;
        margin-bottom: 4px;
      }
    }
  }
}

.update-bar,
.error-bar {
  cursor: pointer;
  &__wrap {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 48px;
    margin: auto;
    width: 310px;
    padding: 13px 33px 13px 17px;
    background-color: $cWhite;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0px 8px 30px rgba(132, 141, 182, 0.3);
    backdrop-filter: blur(2.71828px);
    border-radius: 28px;
    opacity: 0.9;
  }
  &__icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
  }
}
.update-bar__icon {
  background-color: $cAccent2;
}
.error-bar__icon {
  background-color: $cAttention;
}
