.register-step {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  li {
    &.current {
      color: $cMain;
      p {
        opacity: 1;
      }
    }
  }
  p {
    margin: 0 auto 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cMain;
    opacity: 0.3;
    img {
      width: 36px;
      height: 36px;
    }
  }
}

.pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 0 0 auto;
}
.pagination-number {
  display: flex;
  align-items: center;
  li {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    &.current {
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 3px;
        margin: -8px auto 0;
        background: $cMain;
        border-radius: 30px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: 500;
      font-size: 1.2rem;
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
