@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+JP:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    background-color: $bgColor;
    overflow-y: scroll;
}
.App {
    font-family: 'Montserrat','Noto Sans JP', sans-serif;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    color: $cBlack;
}
ul,li,ol {
    list-style: none;
    padding: 0;
}
button {
    outline: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input,select,textarea {
    outline: none;
}

// 表示開始
.page-transition-enter-active {
    opacity: 0;
}

// 表示完了
.page-transition-enter-done {
    opacity: 1;
    transition: opacity 300ms;
}

// 非表示完了
.page-transition-exit {
    opacity: 1;
    transition: opacity 300ms;
}

.page-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.none {
    display: none;
}
.block {
    display: block;
}