$bgColor: #F9FBFD;

$cWhite: #ffffff;
$cBlack: #1A1A1A;
$cGray1: #545454;
$cGray2: #EEF0F1;

$cMain: #096FCA;


$cAccent1: #F97E25;
$cAccent2: #34C61D;
$cAccent3: #21B79C;

$cBorder1: #eeeeee;

$cAttention: #F26F6F;
$cPlaceHolder: #CBCFD9;
$cLink: #448AF3;
$cYetLink: #8A98A4;
$cInputBg: #F1F4F5;

$img: "../../images/";

$bigWindow: 1600px;